<template>
	<div>
		<h2>Edit org</h2>

		<input v-model="form.name" placeholder="Name" />

		<select v-model="form.active">
			<option value="true">True</option>
			<option value="false">False</option>
		</select>

		<button v-on:click="save">save</button>
		<button v-on:click="reset">reset</button>
	</div>
</template>

<script type="text/babel">
	import { mapActions, mapState } from 'vuex'

	export default {
		data: () => {
			return {
				form: {
					name: '',
					active: ''
				}
			}
		},

		methods: {
			...mapActions([
				'updateOrg'
			]),

			save(){
				this.updateOrg(this.form)
			},

			reset(){
				this.update()
			},

			update(){
				this.form.name = this.org.name
				this.form.active = this.org.active
			
			}
		},

		mounted(){
			this.update()
		},

		computed: mapState([
			'org'
		])
	}
</script>