<template>
	<div id="orgs-page">
		<h2>Organizations Page</h2>

		<loader></loader>

<h3> My orgs list </h3>
        <ul v-if="!orgs.isFetching">
			<li v-for="org in orgs.data">
				<org :data="org"></org>
			</li>
		</ul>
		<router-view></router-view>
    </div>
        </template>

        <script type="text/babel">
	import { mapActions, mapState } from 'vuex'
	import store from '../store/index'
	import loader from '../components/Loader.vue'
	import org from '../components/Org.vue'

	export default {
		components: {
			loader,
			org
		},

		methods: {
			...mapActions([
				'getOrgs'
			])
		},

		beforeRouteEnter(to, from, next) {
			store.dispatch('getOrgs', 10)
				.then(() => {
					next()
				})
		},
		watch: {
		getOrgs
		},

		computed: mapState([
			'orgs',
			'loader'
		])
	}
</script>

<style scoped>
	#orgs-page {
		position: relative;
	}
	#orgs-page ul {
		list-style: none;
		padding: 0;
		margin: 0;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		width: 300px;
	}
	#orgs-page ul li {
		border-bottom: 1px dashed lightgray;
		padding: 10px 5px;
		display: flex;
		justify-content: space-between;
	}
	#orgs-page .fetching {
		position: absolute;
		font-weight: bold;
	}
</style>