<template>
    <span>
		{{name}} - <span>Status - ({{active}})</span>

	</span>
</template>

<script type="text/babel">
	import Vue from 'vue'

	export default Vue.component('org', {
		props: {
			data: {
				type: Object,
				required: true
			}
		}
	})
</script>
