<template>
    <span>
		{{orgName}} - {{data.gender}}

		<router-link :to="{name: 'orgdetail', params: {id: data.id.value}}">org detail</router-link>
	</span>
</template>

<script type="text/babel">
	import Vue from 'vue'

	export default Vue.component('org', {
		props: {
			data: {
				type: Object,
				required: true
			}
		},

		computed: {
			orgName(){
				return `${this.data.name}`;
			}
		}
	})
</script>
